.menu-item {
    position: relative;
}

.menu-item:hover .dropdown-container {
    opacity: 1;
    pointer-events: auto;
    max-width: 100% !important;
    min-width: 220px !important;
    
}

.menu-item:hover .dropdown-item {
    margin-left: 0px;
}

.dropdown-container {
    opacity: 0;
    max-width: 100% !important;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    transition: all 0.2s;
}

.dropdown-item {
    margin-left: 25px;
    transition: all 0.2s;
}

.icon-option {
    margin-left: 20px;
    transition: all 0.1s;
}

.menu-item:hover .icon-option {
    margin-left: 10px;
}

.text-option {
    margin-left: 20px;
    transition: all 0s;
}

.menu-item:hover .text-option {
    margin-left: 0px;
}